Repository kowainik/stan, pull requests merged in 2020-06, with the labels that each got.

#192 [#106] Patterns boolean algebra
  src/Stan/Analysis/Analyser.hs
  src/Stan/Hie/MatchAst.hs
  src/Stan/Hie/MatchType.hs
  src/Stan/Inspection/AntiPattern.hs
  src/Stan/Inspection/Infinite.hs
  src/Stan/Inspection/Partial.hs
  src/Stan/Pattern/Ast.hs
  src/Stan/Pattern/Edsl.hs
  src/Stan/Pattern/Type.hs
  stan.cabal
  target/Target/Partial.hs
  test/Test/Stan/Analysis/Common.hs
  test/Test/Stan/Analysis/Partial.hs
  test/Test/Stan/Number.hs
Labels: analysis, enhancement, hie

#196 Add logo v0.0
  README.md
Labels: nice to have :nail_care:

#199 [#198] Use type-of-html and clay for report
  src/Stan/Analysis/Pretty.hs
  src/Stan/Report.hs
  src/Stan/Report/Css.hs
  src/Stan/Report/Html.hs
  stan.cabal
  stan.html
  test/Test/Stan/Number.hs
Labels: library :books:, report :notebook:

#201 [#197] Use relude-0.7.0.0
  src/Stan/Cabal.hs
  src/Stan/Inspection/AntiPattern.hs
  src/Stan/Inspection/Infinite.hs
  src/Stan/Inspection/Partial.hs
  stan.cabal
Labels: library :books:

#200 [#187] Create Observations section per file
  src/Stan.hs
  src/Stan/Analysis.hs
  src/Stan/Analysis/Pretty.hs
  src/Stan/Cli.hs
  src/Stan/FileInfo.hs
  src/Stan/Observation.hs
  src/Stan/Report.hs
  src/Stan/Report/Css.hs
  src/Stan/Report/Html.hs
  src/Stan/Report/Settings.hs
  stan.cabal
  stan.html
  test/Test/Stan/Number.hs
Labels: report :notebook:

#203 [#189] Create Used Inspections Section
  src/Stan/Report/Css.hs
  src/Stan/Report/Html.hs
  stan.html
Labels: report :notebook:

#204 [#188] Create Configurations Info Section
  src/Stan.hs
  src/Stan/Config/Pretty.hs
  src/Stan/Observation.hs
  src/Stan/Report.hs
  src/Stan/Report/Css.hs
  src/Stan/Report/Html.hs
  stan.cabal
  stan.html
  test/Test/Stan/Number.hs
Labels: report :notebook:

#205 [#185] Stan Info Section
  src/Stan.hs
  src/Stan/Cli.hs
  src/Stan/EnvVars.hs
  src/Stan/Info.hs
  src/Stan/Report.hs
  src/Stan/Report/Css.hs
  src/Stan/Report/Html.hs
  src/Stan/Toml.hs
  stan.cabal
  stan.html
  test/Test/Stan/Number.hs
Labels: report :notebook:

#207 [#185] Create General Info Section
  src/Stan.hs
  src/Stan/Analysis/Pretty.hs
  src/Stan/Cabal.hs
  src/Stan/Info.hs
  src/Stan/Report.hs
  src/Stan/Report/Css.hs
  src/Stan/Report/Html.hs
  stan.html
Labels: report :notebook:

#210 [#209] Create CSS Grid system
  src/Stan/Report/Css.hs
  src/Stan/Report/Html.hs
  stan.html
Labels: beauty, report :notebook:

#211 [#99] Inspection on foldl
  src/Stan/Category.hs
  src/Stan/Inspection.hs
  src/Stan/Inspection/AntiPattern.hs
  target/Target/AntiPattern.hs
  test/Test/Stan/Analysis/AntiPattern.hs
Labels: essential :bread:, inspection

#206 [#100] Inspection: missing `infix` for operator
  src/Stan/Analysis/Analyser.hs
  src/Stan/Category.hs
  src/Stan/Hie/MatchAst.hs
  src/Stan/Inspection.hs
  src/Stan/Inspection/All.hs
  src/Stan/Inspection/Style.hs
  src/Stan/Pattern/Ast.hs
  stan.cabal
  target/Target/Style.hs
  test/Test/Stan/Analysis.hs
  test/Test/Stan/Analysis/Style.hs
  test/Test/Stan/Number.hs
Labels: analysis, essential :bread:, hie, inspection

#213 [#99] Anti-pattern: slow HashMap.size
  src/Stan/Inspection/AntiPattern.hs
  stan.cabal
  target/Target/AntiPattern.hs
  test/Test/Stan/Analysis/AntiPattern.hs
Labels: essential :bread:, inspection

#215 [#191] Create footer
  src/Stan/Report/Css.hs
  src/Stan/Report/Html.hs
  stan.html
Labels: beauty, report :notebook:

#214 [#195] Implement `cli-to-toml` command
  src/Stan.hs
  src/Stan/Cli.hs
Labels: CLI, TOML, config :gear:

#216 Add short description to each section
  src/Stan/Report/Css.hs
  src/Stan/Report/Html.hs
Labels: report :notebook:

#218 [#217] Severity section and category tags in report
  src/Stan/Report/Css.hs
  src/Stan/Report/Html.hs
  src/Stan/Severity.hs
  stan.cabal
  stan.html
Labels: report :notebook:

#220 [#182] Calculate project health
  src/Stan/Analysis/Pretty.hs
Labels: output

#221 [#99] Anti-pattern: slow Data.HashSet.size
  src/Stan/Inspection/AntiPattern.hs
  target/Target/AntiPattern.hs
  test/Test/Stan/Analysis/AntiPattern.hs
Labels: essential :bread:, inspection

#223 [#219] Make inspections expandable
  src/Stan/Report/Css.hs
  src/Stan/Report/Html.hs
  stan.html
Labels: report :notebook:

#226 [#224] Make code snippets scrollable only when scrolling is needed
  src/Stan/Report/Css.hs
  stan.html
Labels: report :notebook:

#227 [#202] Add extensions info in the report
  src/Stan/Analysis/Pretty.hs
  src/Stan/FileInfo.hs
  src/Stan/Report/Css.hs
  src/Stan/Report/Html.hs
Labels: output, report :notebook:

#228 [#190] Create Summary Section
  src/Stan/Analysis/Summary.hs
  src/Stan/Category.hs
  src/Stan/Core/ModuleName.hs
  src/Stan/Report/Html.hs
  src/Stan/Severity.hs
  stan.cabal
  test/Test/Stan/Number.hs
Labels: report :notebook:

#229 [#222] Create a script with the test command to run `stan report` with config
  report
  stan.html
Labels: enhancement, report :notebook:

#231 [#225] Report Styling
  src/Stan/Cabal.hs
  src/Stan/Cli.hs
  src/Stan/Report/Css.hs
  src/Stan/Report/Html.hs
  stan.html
Labels: beauty, report :notebook:

#235 [#234] Move from type-of-html to blaze-html
  src/Stan/Report.hs
  src/Stan/Report/Html.hs
  stan.cabal
  stan.html
Labels: refactoring, report :notebook:

#233 [#171] Inspection: strict data type fields
  src/Stan/Analysis.hs
  src/Stan/Analysis/Analyser.hs
  src/Stan/Cli.hs
  src/Stan/Config.hs
  src/Stan/FileInfo.hs
  src/Stan/Inspection.hs
  src/Stan/Inspection/AntiPattern.hs
  src/Stan/Pattern/Ast.hs
  src/Stan/Pattern/Type.hs
  stan.cabal
  target/Target/AntiPattern/Stan0206.hs
  target/Target/AntiPattern/Stan0206Extensions.hs
  test/Test/Stan/Analysis.hs
  test/Test/Stan/Analysis/AntiPattern.hs
  test/Test/Stan/Number.hs
Labels: analysis, essential :bread:, hie, inspection

#236 [#230] Remove the 'ghc-paths' dependency and the 'printHieAsts' function
  src/Stan/Hie/Debug.hs
  stan.cabal
Labels: library :books:, refactoring

#238 [#237] Simplify the 'InspectionAnalysis' data type
  src/Stan/Analysis/Analyser.hs
  src/Stan/Inspection.hs
  src/Stan/Inspection/AntiPattern.hs
  src/Stan/Inspection/Infinite.hs
  src/Stan/Inspection/Partial.hs
  test/Test/Stan/Analysis/Common.hs
Labels: analysis, refactoring

#239 [#176] Foldable methods on possibly error-prone structures
  src/Stan/Hie/Debug.hs
  src/Stan/Inspection/AntiPattern.hs
  src/Stan/Pattern/Type.hs
  target/Target/AntiPattern.hs
  test/Test/Stan/Analysis/AntiPattern.hs
Labels: analysis, essential :bread:, inspection

#244 [#87] Handle multiple definitions for Inspection
  src/Stan/Inspection.hs
  src/Stan/Inspection/AntiPattern.hs
  src/Stan/Inspection/Infinite.hs
  src/Stan/Inspection/Partial.hs
  src/Stan/NameMeta.hs
  src/Stan/Pattern/Ast.hs
  target/Target/AntiPattern.hs
  target/Target/Infinite.hs
  target/Target/Partial.hs
  test/Test/Stan/Analysis.hs
  test/Test/Stan/Analysis/AntiPattern.hs
  test/Test/Stan/Analysis/Common.hs
  test/Test/Stan/Analysis/Infinite.hs
  test/Test/Stan/Analysis/Partial.hs
  test/Test/Stan/Number.hs
Labels: inspection

#245 [#99] Add length for Text inspection
  .stan.toml
  src/Stan/Inspection/AntiPattern.hs
  src/Stan/NameMeta.hs
  src/Stan/Pattern/Type.hs
  stan.cabal
  target/Target/AntiPattern.hs
  test/Test/Stan/Analysis/AntiPattern.hs
Labels: inspection

#248 [#240] Bypass Cabal hack on MacOS
  .github/workflows/ci.yml
  src/Stan/NameMeta.hs
Labels: CI

#249 [#99] Add nub inspection
  src/Stan/Inspection/AntiPattern.hs
  src/Stan/Observation.hs
  target/Target/AntiPattern.hs
  test/Test/Stan/Analysis/AntiPattern.hs
Labels: inspection

#250 [#44] Exit with failure when the list of observations is not empty
  src/Stan.hs
  src/Stan/Inspection/Infinite.hs
Labels: enhancement

#251 [#116] Better error message when 'stanArgsHiedir' is not found
  src/Stan/Hie.hs
Labels: CLI, enhancement

#252 [#99] Add for_ and forM_ ranges inspection
  src/Stan/Inspection/AntiPattern.hs
  target/Target/AntiPattern.hs
  test/Test/Stan/Analysis/AntiPattern.hs
Labels: inspection

#253 [#172] Inspection: big tuples
  src/Stan/Analysis/Analyser.hs
  src/Stan/Inspection.hs
  src/Stan/Inspection/Style.hs
  src/Stan/Pattern/Ast.hs
  target/Target/Style.hs
  test/Test/Stan/Analysis/Style.hs
Labels: analysis, essential :bread:, inspection

#254 [#99] Inspections for known anti-patterns
  src/Stan/Hie/MatchAst.hs
  src/Stan/Inspection/AntiPattern.hs
  src/Stan/NameMeta.hs
  src/Stan/Pattern/Ast.hs
  src/Stan/Pattern/Type.hs
  stan.cabal
  target/Target/AntiPattern.hs
  test/Test/Stan/Analysis/AntiPattern.hs
Labels: hie, inspection

#258 [#130] Some CLI improvements
  src/Stan/Cli.hs
Labels: CLI, refactoring

#257 [#255] Forbid unsafe functions that could lead to errors
  .stan.toml
  src/Stan/Cabal.hs
  src/Stan/Category.hs
  src/Stan/Inspection/AntiPattern.hs
  stan.cabal
  target/Target/AntiPattern/Stan0212.hs
  test/Test/Stan/Analysis/AntiPattern.hs
Labels: essential :bread:, inspection

#259 [#242] Support GHC-8.10
  .github/workflows/ci.yml
  src/Stan.hs
  src/Stan/Analysis.hs
  src/Stan/Analysis/Analyser.hs
  src/Stan/Cabal.hs
  src/Stan/Core/ModuleName.hs
  src/Stan/Ghc/Compat.hs
  src/Stan/Hie.hs
  src/Stan/Hie/Compat.hs
  src/Stan/Hie/Debug.hs
  src/Stan/Hie/MatchAst.hs
  src/Stan/Hie/MatchType.hs
  src/Stan/NameMeta.hs
  src/Stan/Observation.hs
  src/Stan/Pattern/Ast.hs
  src/Stan/Pattern/Edsl.hs
  stan.cabal
  test/Test/Stan/Analysis/Infinite.hs
Labels: CI, ghc

#260 [#256] Clean up CLI output
  cabal.project
  src/Stan.hs
  src/Stan/Config/Pretty.hs
Labels: CLI, output

#262 [#261] Generate md with all inspections
  src/Stan.hs
  src/Stan/Cli.hs
  src/Stan/Inspection.hs
Labels: CLI, documentation

#263 Add more solutions to some problems
  src/Stan/Inspection/AntiPattern.hs
  src/Stan/Inspection/Infinite.hs
  src/Stan/Inspection/Partial.hs
Labels: inspection

#266 [#264] Inspection on `_` pattern-matching for sum types
  src/Stan/Analysis/Analyser.hs
  src/Stan/EnvVars.hs
  src/Stan/Hie/MatchAst.hs
  src/Stan/Inspection.hs
  src/Stan/Inspection/AntiPattern.hs
  src/Stan/Pattern/Ast.hs
  src/Stan/Toml.hs
  stan.cabal
  target/Target/AntiPattern/Stan0213.hs
  test/Test/Stan/Analysis/AntiPattern.hs
  test/Test/Stan/Cli.hs
  test/Test/Stan/Toml.hs
Labels: inspection

#269 [#173] Inspection: replace multiple comparison operations with operators
  src/Stan/Analysis/Analyser.hs
  src/Stan/Core/List.hs
  src/Stan/Hie.hs
  src/Stan/Hie/MatchAst.hs
  src/Stan/Inspection.hs
  src/Stan/Inspection/AntiPattern.hs
  src/Stan/NameMeta.hs
  src/Stan/Pattern/Ast.hs
  src/Stan/Pattern/Type.hs
  stan.cabal
  target/Target/AntiPattern/Stan0214.hs
  test/Test/Stan/Analysis/AntiPattern.hs
  test/Test/Stan/Analysis/Common.hs
Labels: analysis, essential :bread:, inspection

#270 [#267] Support reporting of multi-line observations
  src/Stan/Ghc/Compat.hs
  src/Stan/Observation.hs
Labels: output

#271 [#268] Simplify modules and files names necessity in tests
  test/Test/Stan/Analysis/AntiPattern.hs
  test/Test/Stan/Analysis/Common.hs
  test/Test/Stan/Analysis/Infinite.hs
  test/Test/Stan/Analysis/Partial.hs
  test/Test/Stan/Analysis/Style.hs
Labels: refactoring, tests

#272 [#35] Add --non-verbose option in CLI
  src/Stan/Analysis/Pretty.hs
  src/Stan/Cli.hs
  src/Stan/Core/Toggle.hs
  src/Stan/Ghc/Compat.hs
  src/Stan/Observation.hs
  src/Stan/Report/Settings.hs
  stan.cabal
Labels: CLI, output, refactoring

#276 [#274] Bypass Cabal hack on Windows
  src/Stan/NameMeta.hs
Labels: CI, hie

#273 [#247] Build with everything on CI
  .github/workflows/ci.yml
  .gitignore
  .stan-windows.toml
  src/Stan/Inspection/AntiPattern.hs
  stack.yaml
  test/Spec.hs
  test/Test/Stan/Analysis.hs
  test/Test/Stan/Analysis/Common.hs
Labels: CI

#278 [#275] Inspection: invalid file paths on Windows
  src/Stan/Hie/MatchAst.hs
  src/Stan/Inspection/AntiPattern.hs
  src/Stan/Pattern/Ast.hs
  target/Target/AntiPattern.hs
  test/Test/Stan/Analysis/AntiPattern.hs
Labels: inspection

#280 Try to speed up CI a bit
  .github/workflows/ci.yml
Labels: CI

#282 [#281] Use newer trial version
  cabal.project
  src/Stan.hs
  src/Stan/Cli.hs
  src/Stan/Toml.hs
  stack.yaml
Labels: library :books:, refactoring

#283 [#177] Write juicy README
  README.md
Labels: documentation

#284 Add ToC and links to it
  README.md
Labels: documentation

#285 [#232] Text patches in report
  src/Stan/Report/Html.hs
Labels: report :notebook:

#286 Add HLint CI workflow
  .github/workflows/ci.yml
  src/Stan/Analysis/Pretty.hs
  src/Stan/Cabal.hs
  src/Stan/Cli.hs
  src/Stan/EnvVars.hs
  src/Stan/Hie.hs
  src/Stan/Pattern/Type.hs
  src/Stan/Report/Html.hs
  test/Test/Stan/Analysis/Common.hs
Labels: CI, refactoring

#287 [#232] Text patches in report
  .stan-windows.toml
  .stan.toml
  report
  src/Stan.hs
  src/Stan/Example.hs
  src/Stan/Report/Css.hs
  src/Stan/Report/Html.hs
  stan.cabal
  stan.html
Labels: report :notebook:

#288 Use trial from Hackage
  cabal.project
  stack.yaml
Labels: CI, enhancement

#289 Fix cabal description
  src/Stan/Inspection/AntiPattern.hs
  stan.cabal
Labels: documentation

#307 Add roadmap
  README.md
Labels: documentation

#315 [#312] Set encoding locale to utf8
  app/Main.hs
Labels: fix

#317 Include test data files in the source distribution
  stan.cabal
Labels: fix

#319 Add Other Tools section
  README.md
Labels: documentation

#322 Fix typo in package
  src/Stan/Inspection/AntiPattern.hs
Labels: suggestion

#325 Add Hackage installation instructions
  README.md
Labels: documentation

#328 [#327] Print <UNAVAILABLE> when HIE files are incomplete instead of failing
  CHANGELOG.md
  src/Stan/Hie.hs
  src/Stan/Hie/MatchAst.hs
  src/Stan/Observation.hs
  stan.cabal
Labels: hie

#331 [#309] Missing documentation on ignoring inspections
  README.md
Labels: documentation

#330 [#329] Add GHC version to the --version output
  CHANGELOG.md
  src/Stan/Cli.hs
  src/Stan/Info.hs
Labels: CLI

#332 [#326] Handle constraints before constructors in STAN-0206
  CHANGELOG.md
  src/Stan/Analysis/Analyser.hs
  src/Stan/Hie/Compat.hs
  src/Stan/Hie/MatchAst.hs
  src/Stan/Pattern/Ast.hs
  target/Target/AntiPattern/Stan0206.hs
  test/Test/Stan/Analysis.hs
  test/Test/Stan/Analysis/AntiPattern.hs
Labels: analysis, fix, inspection

#333 [#320] Add `-b|--browse` option to the report command
  CHANGELOG.md
  README.md
  src/Stan.hs
  src/Stan/Analysis/Pretty.hs
  src/Stan/Browse.hs
  src/Stan/Cli.hs
  src/Stan/Observation.hs
  src/Stan/Report/Settings.hs
  stan.cabal
Labels: CLI, enhancement
