Repository kowainik/stan, pull requests merged in 2020-05, with the labels that each got.

#85 [#40] Inspections for partial functions on infinite lists
  src/Stan/Analysis/Analyser.hs
  src/Stan/Hie/Match.hs
  src/Stan/Inspection.hs
  src/Stan/Inspection/Infinite.hs
  src/Stan/Inspection/Partial.hs
  src/Stan/NameMeta.hs
  target/Target/Infinite.hs
  test/Test/Stan/Analysis/Infinite.hs
Labels: essential :bread:

#88 [#38] Inspections for partial functions
  src/Stan/Inspection/Partial.hs
  target/Target/Partial.hs
  test/Test/Stan/Analysis/Infinite.hs
  test/Test/Stan/Analysis/Partial.hs
  test/Test/Stan/Number.hs
Labels: essential :bread:

#91 [#41] Inspections for partial fs for some instances
  src/Stan/Hie/Match.hs
  src/Stan/Inspection/Partial.hs
  src/Stan/NameMeta.hs
  target/Target/Partial.hs
  test/Test/Stan/Analysis/Partial.hs
  test/Test/Stan/Number.hs
Labels: enhancement, essential :bread:

#92 [#90] Automate inspection testing
  src/Stan/Inspection.hs
  src/Stan/NameMeta.hs
  target/Target/Partial.hs
  test/Test/Stan/Analysis/Common.hs
  test/Test/Stan/Analysis/Infinite.hs
  test/Test/Stan/Analysis/Partial.hs
  test/Test/Stan/Number.hs
Labels: refactoring, tests

#93 [#76] Store file map in Analysis
  cabal.project
  src/Stan.hs
  src/Stan/Analysis.hs
  src/Stan/FileInfo.hs
  stan.cabal
  test/Test/Stan/Number.hs
Labels: analysis, enhancement, refactoring

#98 [#86] Handle `String` type alias as well as `[a]`
  src/Stan/Hie/Match.hs
  target/Target/Infinite.hs
Labels: essential :bread:, hie

#101 [#96] Use latest version of extensions, support SafeHaskellExtensions
  cabal.project
  src/Stan.hs
  src/Stan/Analysis.hs
  src/Stan/Analysis/Pretty.hs
  src/Stan/FileInfo.hs
  src/Stan/Inspection.hs
  stan.cabal
  test/Test/Stan/Analysis.hs
Labels: enhancement, library :books:

#102 [#95] Create 'ReportSettings'
  src/Stan.hs
  src/Stan/Analysis/Pretty.hs
  src/Stan/Cli.hs
  src/Stan/Observation.hs
  src/Stan/Report.hs
  stan.cabal
  test/Test/Stan/Number.hs
Labels: refactoring, report :notebook:

#103 [#97] eDSL for 'Pattern'
  src/Stan/Analysis/Analyser.hs
  src/Stan/Hie/Match.hs
  src/Stan/Inspection.hs
  src/Stan/Inspection/Infinite.hs
  src/Stan/Inspection/Partial.hs
  src/Stan/Pattern.hs
  stan.cabal
  test/Test/Stan/Number.hs
Labels: enhancement, refactoring

#105 [#104] Simplify NameMeta API
  src/Stan/Inspection/Partial.hs
  src/Stan/NameMeta.hs
  src/Stan/Pattern.hs
Labels: refactoring

#108 Rename 'Pattern' to 'PatternType'
  src/Stan/Analysis/Analyser.hs
  src/Stan/Hie/Match.hs
  src/Stan/Inspection.hs
  src/Stan/Inspection/Infinite.hs
  src/Stan/Inspection/Partial.hs
  src/Stan/Pattern/Type.hs
  stan.cabal
Labels: refactoring

#111 [#110] Use extensions from Hackage
  cabal.project
  stan.cabal
Labels: library :books:

#112 [#94] Support multiple cabal files
  src/Stan.hs
  src/Stan/Cli.hs
  test/Test/Stan/Analysis.hs
Labels: CLI, enhancement

#113 [#107] Patterns for AST
  src/Stan/Analysis/Analyser.hs
  src/Stan/Core/List.hs
  src/Stan/Hie/MatchAst.hs
  src/Stan/Hie/MatchType.hs
  src/Stan/NameMeta.hs
  src/Stan/Pattern/Ast.hs
  stan.cabal
  test/Test/Stan/Number.hs
Labels: analysis, hie

#117 [#24] Create configuration
  .stan.toml
  src/Stan/Config.hs
  src/Stan/Severity.hs
  src/Stan/Toml.hs
  stan.cabal
  test/Test/Stan/Number.hs
Labels: config :gear:

#118 [#65] Find occurrences of [0 .. length xs]
  src/Stan/Analysis/Analyser.hs
  src/Stan/Category.hs
  src/Stan/Hie.hs
  src/Stan/Hie/MatchAst.hs
  src/Stan/Inspection.hs
  src/Stan/Inspection/All.hs
  src/Stan/Inspection/AntiPattern.hs
  src/Stan/Inspection/Infinite.hs
  src/Stan/Inspection/Partial.hs
  src/Stan/Pattern/Ast.hs
  stan.cabal
  target/Target/AntiPattern.hs
  test/Test/Stan/Analysis.hs
  test/Test/Stan/Analysis/AntiPattern.hs
  test/Test/Stan/Analysis/Common.hs
  test/Test/Stan/Number.hs
Labels: essential :bread:

#122 [#109] GHC panic in 'nameModule'
  src/Stan/NameMeta.hs
Labels: fix

#127 [#121] Add config tests
  src/Stan/Config.hs
  stan.cabal
  test/.stan-example.toml
  test/Spec.hs
  test/Test/Stan/Gen.hs
  test/Test/Stan/Number.hs
  test/Test/Stan/Toml.hs
Labels: config :gear:, tests

#131 [#123] CLI for specifying checks
  src/Stan/Cli.hs
  src/Stan/Severity.hs
Labels: CLI

#132 [#119] Read the config files
  .github/workflows/ci.yml
  cabal.project
  src/Stan.hs
  src/Stan/Cli.hs
  src/Stan/Config.hs
  src/Stan/Toml.hs
  stan.cabal
  test/Test/Stan/Toml.hs
Labels: config :gear:

#136 Cache 'cabal freeze' output on CI
  .github/workflows/ci.yml
Labels: CI

#137 [#135] Combine CLI options and Config options using 'trial'
  src/Stan.hs
  src/Stan/Cli.hs
  src/Stan/Toml.hs
  test/Test/Stan/Toml.hs
Labels: CLI, TOML, config :gear:

#138 [#128] [#129] Add CLI option to ignore-default and use --config-file
  src/Stan.hs
  src/Stan/Cli.hs
  src/Stan/Toml.hs
Labels: CLI, config :gear:

#139 [#133] Support ENV Vars
  cabal.project
  src/Stan.hs
  src/Stan/Cli.hs
  src/Stan/EnvVars.hs
  stan.cabal
  test/Test/Stan/Number.hs
Labels: ENV, config :gear:

#141 [#134] Command to turn TOML config into CLI line to use
  src/Stan.hs
  src/Stan/Cli.hs
  src/Stan/Config.hs
Labels: CLI, config :gear:

#140 [#120] Create the data type to accumulate and aply config info
  src/Stan/Config.hs
  src/Stan/Inspection/All.hs
Labels: config :gear:

#146 [#145] Tests for `toml-to-cli` command
  src/Stan/Cli.hs
  src/Stan/Config.hs
  stan.cabal
  test/Spec.hs
  test/Test/Stan/Cli.hs
  test/Test/Stan/Number.hs
Labels: CLI, tests

#149 [#147] Property tests for `toml-to-cli` command
  src/Stan/Config.hs
  test/Test/Stan/Cli.hs
  test/Test/Stan/Gen.hs
  test/Test/Stan/Toml.hs
Labels: CLI, config :gear:, tests

#152 [#142] Remove 'CheckScopeModule' from Config
  src/Stan/Cli.hs
  src/Stan/Config.hs
  src/Stan/Toml.hs
  test/Test/Stan/Gen.hs
Labels: config :gear:, refactoring

#153 [#148] Use applyChecks in analysis functions
  src/Stan.hs
  src/Stan/Analysis.hs
  src/Stan/Config.hs
  test/Test/Stan/Analysis.hs
Labels: analysis, config :gear:

#155 [#154] Count total number of inspections
  src/Stan/Analysis.hs
  src/Stan/Analysis/Pretty.hs
Labels: analysis, output

#156 [#115] Move Cabal-related handling into the 'Stan.Cabal' module
  src/Stan.hs
  src/Stan/Analysis.hs
  src/Stan/Cabal.hs
  stan.cabal
  test/Test/Stan/Number.hs
Labels: refactoring

#157 [#144] Write docs for applyCheck
  src/Stan/Config.hs
  stan.cabal
  test/Spec.hs
  test/Test/Stan/Config.hs
  test/Test/Stan/Number.hs
Labels: config :gear:, documentation, tests

#161 [#158] Add `remove` field in the Config
  src/Stan/Cli.hs
  src/Stan/Config.hs
  src/Stan/Toml.hs
  test/Test/Stan/Cli.hs
  test/Test/Stan/Config.hs
  test/Test/Stan/Gen.hs
  test/Test/Stan/Toml.hs
Labels: CLI, TOML, config :gear:

#160 [#159] Explicit 'CheckFilter' and 'CheckScope'
  src/Stan/Cli.hs
  src/Stan/Config.hs
  src/Stan/Toml.hs
  test/.stan-example.toml
  test/Test/Stan/Cli.hs
  test/Test/Stan/Config.hs
  test/Test/Stan/Gen.hs
  test/Test/Stan/Toml.hs
Labels: config :gear:, tests

#163 [#150] Property test on double applyChecks
  src/Stan/Config.hs
  test/Test/Stan/Config.hs
  test/Test/Stan/Gen.hs
Labels: config :gear:, tests

#164 [#143] Remove 'CheckObservation' filter and create a separate field
  src/Stan/Cli.hs
  src/Stan/Config.hs
  src/Stan/Toml.hs
  test/.stan-example.toml
  test/Test/Stan/Cli.hs
  test/Test/Stan/Gen.hs
  test/Test/Stan/Toml.hs
Labels: CLI, TOML, config :gear:

#167 [#165] Use `removed` Config field before analysis
  .stan.toml
  src/Stan.hs
  src/Stan/Config.hs
  test/Test/Stan/Config.hs
Labels: config :gear:, tests

#168 [#166] Use `observations` Config field after analysis
  src/Stan.hs
  src/Stan/Analysis.hs
  src/Stan/Analysis/Pretty.hs
  src/Stan/Observation.hs
  test/Test/Stan/Analysis.hs
Labels: analysis

#170 [#148] Use 'Config' in the actual analysis function
  .github/workflows/ci.yml
  .stan.toml
Labels: CI, tests

#184 [#2] Produce HTML report output
  src/Stan.hs
  src/Stan/Cli.hs
  src/Stan/Report.hs
  stan.html
Labels: report :notebook:

#194 [#183] Rename `Ignore` to `Exclude` and rename observation command to ignore
  src/Stan.hs
  src/Stan/Cli.hs
  src/Stan/Config.hs
  src/Stan/Observation.hs
  src/Stan/Report.hs
  src/Stan/Toml.hs
  test/.stan-example.toml
  test/Test/Stan/Cli.hs
  test/Test/Stan/Config.hs
  test/Test/Stan/Toml.hs
Labels: CLI, TOML, config :gear:, refactoring
